@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Agencement des filtres */

  .filter {
    position: relative;
    right: 10px;
  }
  .filter__p {
    margin-right: 0;
  }
  /* Agencement des bloc article et aside */
  .bloc-article-aside {
    flex-direction: column;
    margin: 20px 70px 0 70px;
  }
  article {
    width: 100%;
    margin-left: 0px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  aside {
    width: 100%;
    padding-left: 0;
    height: 260px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .main-bloc {
    display: flex;
    margin: 10px 20px;
  }
  .header_aside > h2 {
    margin-left: 30px;
  }
  .card-aside {
    background-color: white;
    display: flex;
    height: 100%;
    margin: 0 10px 0 10px;
    width: 260px;
  }
  .img_card_populaire > img {
    height: 130px;
    width: 100%;
    border-radius: 20px 0px 0 20px;
    margin-bottom: -2px;
  }
  .card-aside > .text-under-img {
    width: 100%;
    margin-left: 8px;
  }
  .h3-card-aside > h3 {
    font-size: 14px;
    margin-bottom: 0;
  }
  .card-article h3 {
    font-size: 14px;
  }
  .star-aside {
    margin-top: 33px;
    margin-bottom: 7px;
  }
  .card__aside-p {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  /* Agencement de la partie activité à Marseille */
  #activites > h2 {
    font-size: 20px;
    margin: 0px 0 30px 70px;
  }
  .card-activite {
    flex-direction: row;
    margin: 10px 51px 40px 50px;
  }

  .card-large {
    width: 100%;
    margin: 0 25px 30px 25px;
    height: 260px;
  }
  .card-large > h3 {
    height: 50px;
  }
  #pomegue {
    height: 205px;
  }

  /* Footer */
  .bloc-list {
    position: relative;
    left: 130px;
  }
}
